$base-font-size: 70px !default;
$base-font-color: #4800FF;

h3 {
	font-size: $base-font-size !important;
	color: $base-font-color !important;
}

ul.tab {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.tab li {
	float: left;
}


ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li a:hover {background-color: #ddd;}

ul.tab li a:focus, .active {background-color: #ccc;}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

div.tooltip {
    color: #222;
    background-color: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
}

.hidden {
   display: none;
}

.province:hover{
    fill: #23DB39;
 }

 #Keys svg{
 	margin-top: 200px;
 }

 #Barometer svg{
 	margin-top: 30px;
 }

 #svg-container{
 	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
 }

 .default-tab{
 	display: block;
 }

 .overlay{
    background: #000000;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0.5;
 }

 .loadingGIF{
 	position: absolute;
 	display: block;
 	top: 40%;
 	left: 45%;
 	z-index: 3;
 }

 #graph_title{
    text-anchor: middle;
    font-size: 30px;
    font-weight: bold;
 }